# This file is NOT git ignored. Don't put sensitive information here.
@neverendingsupport:registry=https://registry.nes.herodevs.com/npm/pkg/
//registry.nes.herodevs.com/npm/pkg/:_authToken=${NES_PROD_ALL_ACCESS_PAT}

force=true
ignore-scripts=false